{
  "all": true,
  "reporter": [
    "html",
    "text",
    "json-summary"
  ],
  "statements": 50,
  "lines": 50,
  "branches": 50,
  "functions": 50,
  "exclude": [
    "test/**/*.js",
    "coverage",
    "public",
    "config",
    "webpack.config.js",
    "src/server.js"
  ]
}
